<h1>Generador - Codigos de Barra</h1>

<h2>Menu</h2>

<%= link_to "Crear Tarjeta", :controller => :card, :action => :new %></br>
<%= link_to "Listar Tarjetas", :controller => :card, :action => :lookup %></br>
<%= link_to "Generar Codigos", :controller => :code, :action => :new %></br>

